* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  letter-spacing: 0.5px;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%);
}
.spinner {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1.2rem;
  box-shadow: 2.8rem 0rem 0 0 #3b5bdb, 1.74rem 2.18rem 0 0 #4263eb,
    -0.62rem 2.72rem 0 0 #4c6ef5, -2.52rem 1.2rem 0 0 #5c7cfa,
    -2.52rem -1.2rem 0 0 #748ffc, -0.62rem -2.72rem 0 0 #91a7ff,
    1.74rem -2.18rem 0 0 #bac8ff;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
